@import url('https://fonts.cdnfonts.com/css/sharp-sans');
@import "tailwindcss";


.no-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

body {
  background-color: #141414;
 color: white;
}